<div class="debug-container" aria-hidden="true">
    <div class="container">
        <div class="row">
            <div class="debug">
                <input type="checkbox"/>

                <div class="col-xs-1">
                    <div>
                        1
                    </div>
                </div>
                <div class="col-xs-1">
                    <div class="col-md-dash-left">
                        2
                    </div>
                </div>
                <div class="col-xs-1">
                    <div class="col-lg-dash-left col-lg-dash-list">
                        3
                    </div>
                </div>
                <div class="col-xs-1">
                    <div>
                        4
                    </div>
                </div>
                <div class="col-xs-1">
                    <div>
                        5
                    </div>
                </div>
                <div class="col-xs-1">
                    <div>
                        6
                    </div>
                </div>
                <div class="col-xs-1">
                    <div>
                        7
                    </div>
                </div>
                <div class="col-xs-1">
                    <div>
                        8
                    </div>
                </div>
                <div class="col-xs-1">
                    <div class="col-lg-dash-right">
                        9
                    </div>
                </div>
                <div class="col-xs-1">
                    <div>
                        10
                    </div>
                </div>
                <div class="col-xs-1">
                    <div class="col-md-dash-right">
                        11
                    </div>
                </div>
                <div class="col-xs-1">
                    <div>
                        12
                    </div>
                </div>

                <div class="guide--center"></div>
            </div>
        </div>
    </div>
</div>