// WRAPPER
$theme-background: #ffffff;

// TYPOGRAFIE
$base-font-size: 16px;

$h1-font-size: 32px;
$h1-font-weight: 700;

$h2-font-size: 20px;
$h2-font-weight: 700;

// OUTLINE
$outline-color: -webkit-focus-ring-color;
