---
title: Aan de slag
layout: content-page
permalink: aan-de-slag/document-structuur.html
skipBacklink: true
inpagenav: true
additionalStyles: [
  'uno/components/navigation/inpage.css'
]
---


<h1>Documentstructuur</h1>

<p>Onderstaande <span lang="en-US">snippet</span> bevat de minimale inhoud van een uno-pagina:</p>

<pre><code>&lt;!DOCTYPE html&gt;
  &lt;html lang="nl"&gt;
  &lt;head&gt;
  &lt;link rel="stylesheet" href="/node_modules/uno/dist/core/uno.css" media="screen" /&gt;
  &lt;meta name="viewport" content="width=device-width, initial-scale=1"&gt;
  &lt;meta http-equiv="x-ua-compatible" content="ie=edge"&gt;
  &lt;/head&gt;
  &lt;body&gt;

  HIER KOMT DE INHOUD VAN JE PAGINA

  &lt;script src="/node_modules/when/es6-shim/Promise.min.js"&gt;&lt;/script&gt;
  &lt;script src="/node_modules/systemjs/dist/system.js"&gt;&lt;/script&gt;
  &lt;script&gt;
  System.config({
    packages: {
      '/': {
        defaultExtension: 'js'
      }
    }
  });

  System.import('/uno/core/a11y.js').then(function (module) {
    new module.A11y();
  });
  &lt;/script&gt;
  &lt;/body&gt;
  &lt;/html&gt;</code></pre>

<ul>
  <li>Uno bevat HTML5 elementen. Begin daarom altijd met de <code>!DOCTYPE html</code> declaratie.</li>
  <li>Uno is <span lang="en-US">mobile-first</span>. Om de juiste weergave en <span lang="en-US">touch zooming</span> te garanderen voeg je de <span lang="en-US">viewport meta tag</span> toe
    aan de <code lang="en-US">head</code></li>
  <li>Voor oudere versies van internet <span lang="en-US">explorer</span> voegen we de <span lang="en-US">meta tag</span> <code lang="en-US">x-ua-compatible</code> toe
    aan de <code lang="en-US">head</code>, zodat deze zich altijd als de laatst beschikbare versie gedraagt.</li>
</ul>

<div class="prev-next">
    <a href="../aan-de-slag/uno-gebruiken.html" class="prev-next__prev">
        <span class="prev-next__meta">VORIGE</span>
        <span class="prev-next__text">2. Configuratie</span>
    </a>
    <a href="../aan-de-slag/pagina-opbouw.html" class="prev-next__next">
        <span class="prev-next__meta">VOLGENDE</span>
        <span class="prev-next__text">4. Pagina opbouw</span>
    </a>
</div>