---
layout: sidenav-page
title: Backlink
parent: Components
permalink: componenten/backlink/
intro: Gebruik de backlink om binnen de sitestructuur naar het bovenliggende niveau te navigeren.
styles: [
    'uno/components/navigation/backlink.css'
]
---

<p>
    De functionaliteit van de backlink is niet dezelfde als die van de terugknop van de browser.
    De terugknop van de browser gaat altijd terug naar de vorige pagina, terwijl de backlink
    altijd één niveau omhoog gaat in de sitestructuur.
</p>
<div class="example">
    <a href="#" class="backlink">Naar Leerlingadministratie</a>
</div>

<h3>Met <span lang="en-US">title</span> attribuut</h3>
<p>
    Wanneer uit de omschrijving van de link niet duidelijk is dat er ergens
    naartoe genavigeerd wordt is het verplicht om een 
    <code lang="en- ">title</code> attribuut op te nemen waarin de
    navigatiehandeling beschreven wordt.
</p>

<div class="example">
    <a href="#" class="backlink" title="Naar Primair onderwijs">Primair onderwijs</a>
</div>
