---
layout: sidenav-page
title: Button
parent: Components
permalink: componenten/button/
styles: [
    'uno/components/button/button.css',
]
additionalStyles: [
    'uno/components/hint/hint.css',
    'uno/components/notification/notification.css'
]

---
<style>
    .example .btn {
        display: inline-flex;
        margin-bottom: 1rem;
    }
</style>

<div class="notification notification--error">
    <div class="notification__content">
        <strong class="notification__title">Niet <a href="https://csswizardry.com/2013/01/mindbemding-getting-your-head-round-bem-syntax/">BEM</a> classes zijn vanaf 5.0 deprecated</strong>
        <span>Update dus je <code>btn</code> naar de onderstaande BEM standaarden.</span>
    </div>
</div>

<p><span lang="en-US">Buttons</span> kunnen gebruikt worden voor interactie binnen een pagina</p>

<p>Gebruik voor <span lang="en-US">buttons</span> <strong>altijd</strong> de
    <code>&lt;button&gt;</code> tag. Zo zien screenreaders ook
    dat het om een interactief element gaat. Wanneer een ander element als
    <span lang="en-US">button gestyled</span> wordt, gebruik dan javascript om het gedrag van een <span lang="en-US">button</span> na
te bootsen.</p>
<p>Door de <span lang="en-US">class</span> <code>.btn</code> toe te voegen wordt een knop
als <span lang="en-US">button gestyled</span>. Daarnaast kunnen er nog extra<span lang="en-US">classes</span> worden
toegevoegd voor alternatieve weergaves van <span lang="en-US">buttons</span></p>
<ul>
    <li><code>.btn--primary</code>, <span lang="en-US">styled</span> de <span lang="en-US">button</span> als primaire actie</li>
    <li><code>.btn--disabled</code>, <span lang="en-US">styled</span> de <span lang="en-US">button</span> als disabled. Wanneer de
    <span lang="en-US">button</span> een <code>a</code> tag is, dient ook <code>tabindex="-1"</code> gezet te worden,
    om te voorkomen dat de <span lang="en-US">button</span> focus krijgt.</li>
    <li><code>.btn--link</code>, <span lang="en-US">styled</span> de <span lang="en-US">button</span> als een link. Kan niet <span lang="en-US">disabled</span> zijn.</li>
    <li><code>.btn--icon</code>, voor <span lang="en-US">buttons</span> met <em>alleen</em> een icoon.
        Verwijderd de <span lang="en-US">padding</span> rondom het icoon. Voeg een <code lang="en-US">title</code>
        attribuut aan de <span lang="en-US">button</span> toe met een beschrijving van de knop.</li>
    <li><code>.btn--digid</code>, een <span lang="en-US">button</span> met een DigiD logo. <br> <em>Let op dat visuele informatie ook voor blinden
        beschikbaar is.</em> <br>In dit geval dat inloggen met DigiD gebeurt.
        Dat kan bijvoorbeeld door in de knop achter de tekst 'inloggen'
        een span toe te voegen met <span lang="en-US">class</span> <code>.screenreader-only</code> en de tekst '&nbsp;met Digi D'.<br>
        Dan hoort een blinde dat als 'inloggen met Digi D'.</li>
</ul>
<aside class="hint">
    <span class="hint__title"><span lang="en-US">Buttons</span> met een icoon</span>
    <p>Wanneer je een een <code>&lt;button&gt;</code> met icoon <em>en</em> tekst
    gebruikt, plaats dan de inhoud van de <span lang="en-US">button</span> in een
        <code>&lt;span class="btn__content"&gt;</code> tag. Dit is een <span lang="en-US">workaround</span>
    voor een <span lang="en-US">Firefox bug</span>.
        Meer informatie op <a href="http://stackoverflow.com/questions/24289251/flexbox-not-working-in-buttons-in-firefox" rel="external" title="StackOverflow">StackOverflow</a>
    en <a href="https://bugzilla.mozilla.org/show_bug.cgi?id=984869" rel="external" title="Bugzilla issue">Bugzilla</a>. <br/>
    Dit is niet nodig wanneer je een <code>&lt;a&gt;</code> <span lang="en-US">tag</span> als <span lang="en-US">button</span> gebruikt.</p>
</aside>

<div class="example example--column" id="example_btn">
    <button class="btn">Standaard knop</button>
    <button class="btn" disabled="disabled">Standaard knop (uitgeschakeld)</button>
    <button class="btn btn--primary">Primaire knop</button>
    <button class="btn btn--primary"><span class="btn__content">Verder <i class="btn__icon icon icon-arr-forward" title="" role=""></i></span></button>
    <button class="btn btn--primary" disabled="disabled">Primaire knop (uitgeschakeld)</button>
</div>

<h3>Link als knop</h3>

<div class="example example--column" id="example_link">
    <a href="https://www.google.com" rel="external" class="btn btn--primary">Link als knop <span class="btn__icon icon icon-arr-forward" title="" role=""></span></a>
    <a href="#" class="btn btn--primary btn--disabled" tabindex="-1">Link als knop (uitgeschakeld)</a>
</div>

<h3>Knop als link</h3>
<div class="example example--column" id="example_btn--link">
    <button class="btn btn--link">Button als link</button>
    <input type="submit" class="btn btn--link" value="Input Button als link" />
</div>

<h3><span lang="en-US">Button</span> met enkel een icoon</h3>
<div class="example" id="example_btn--icon">
    <button class="btn btn--icon" title="Zoeken"><i class="icon icon-magnifier"></i></button>
</div>

<h3>Button met spinner</h3>
<p>
    Het is mogelijk om een spinner in een button te plaatsen. Voorwaarde hiervoor is dat de button disabled
    is, zodat er niet nogmaals op geklikt kan worden. De spinner in een button dient met enige terughoudendheid
    gebruikt te worden. Alleen indien er sprake is van een wachtmoment waarbij de spinner niet op zichzelf
    kan worden ingezet, kun je de spinner in de button plaatsen.
</p>

<p>
    Om de spinner te gebruiken, voeg je een <code>div</code> toe met de <code>btn__spinner</code> klasse.
</p>

<div class="example example--column" id="example_btn-spinner">
    <button class="btn btn--primary" disabled="disabled">
        Bewaar
        <div class="btn__spinner">
            <div aria-live="assertive" class="screenreader-only">Aan het opslaan</div>
        </div>  
    </button>

    <button class="btn" disabled="disabled">
        Bewaar
        <div class="btn__spinner">
            <div aria-live="assertive" class="screenreader-only">Aan het opslaan</div>
        </div>  
    </button>
</div>

<h3>DigiD <span lang="en-US">buttons</span></h3>
<div class="example" id="example_btn--digid">
    <p>Een DigiD <span lang="en-US">button</span>. (<code>a</code> tag)<br/>
        <a class="btn btn--primary btn--digid cta-link" href="#" role="button" tabindex="0">
            Inloggen Mijn DUO
            <span class="screenreader-only">&nbsp;met Digi D</span>
        </a>
    </p>
    <p>Een DigiD <span lang="en-US">button</span>. (<code>button</code> tag)</p>
    <button class="btn btn--primary btn--digid cta-link">
        Inloggen Mijn DUO
        <span class="screenreader-only">&nbsp;met Digi D</span>
    </button>
</div>

<h2>Javascript</h2>

<p>Wanneer een <code>a</code> <span lang="en-US">tag</span> als <span lang="en-US">button gestyled</span> wordt, is javascript nodig
om de knop webrichtlijnen-proof te maken. Het script voegt de benodigde <span lang="en-US">aria-roles</span>
toe, en zorgt voor een juiste afhandeling bij keyboardnavigatie.</p>

<pre><code>&lt;script&gt;
    // Load button component
    System.import('/uno/components/button/button.js').then(function (module) {

        // Select all a.btn elements on the page
        var buttons = document.querySelectorAll('a.btn');

        // Initialize all 'fake' buttons
        for (var i = 0; i &lt; buttons.length; i++) {
            new module.Button(buttons.item(i));
        }
    });
&lt;/script&gt;</code></pre>

<aside class="hint">
    <span class="hint__title"><a href="https://developer.mozilla.org/en-US/docs/Web/Accessibility/ARIA/ARIA_Techniques/Using_the_button_role" lang="en-US">Mozilla Developer Network</a> over buttons</span>
    <p class="hint__description" lang="en-US">Where possible, it is recommended to use native
        HTML buttons (<code>&lt;button&gt;</code>,
        <code>&lt;input type="button" /&gt;</code> and
        <code>&lt;input type="image" /&gt;</code>) rather than the button role,
        as native HTML buttons are more widely supported by older user agents
        and assistive technology. Native HTML buttons also support keyboard and
        focus requirements by default, without need for additional customization.
    </p>
    <p class="hint__description" lang="en-US">
    <strong>Warning:</strong> Be careful when marking up links with the button role.
    Buttons are expected to be triggered using the Space key, while links are
    expected to be triggered using the Enter key. In other words, when links
    are used to behave like buttons, adding <code>role="button"</code> alone is not
    sufficient. It will also be necessary to add a key event handler that
    listens for the Space key in order to be consistent with native buttons.</p>
</aside>

<script>
    // Load button component
    System.import('/uno/components/button/button.js').then(function (module) {

        // Select all a.btn elements on the page
        var buttons = document.querySelectorAll('a.btn');

        // Initialize all 'fake' buttons
        for (var i = 0; i < buttons.length; i++) {
            new module.Button(buttons.item(i));
        }
    });
</script>