---
layout: sidenav-page
title: Collapse
parent: Components
permalink: componenten/collapse/
styles: [
    'uno/components/hint/hint.css',
    'uno/components/table/table.css'
    ]
additionalStyles: [
    'uno/components/label/label.css'
]

---
<p>
    Met een <span lang="en-US">collapse</span> kan secundaire informatie verborgen worden. Door op de
    titel te klikken wordt de informatie zichtbaar. De <span lang="en-US">collapse</span> kan ook standaard
    geopend worden door de class `collapse__details--open` aan het details element
    toe te voegen.
</p>

<p>
    Toegankelijkheid

    Als de <span lang="en-US">collapse</span> tekst bevat kan je er voor zorgen dat voor een blinde bezoeker de tekst meteen opgelezen wordt
    door in de <span lang="en-US">collapse</span> het attribuut `aria-live="polite"` op te nemen.
</p>

<h2>Standaard <span lang="en-US">collapse</span></h2>

<p>Voorbeeld van een standaard <span lang="en-US">collapse</span>. Het voorbeeld staan zo ingesteld dat
de <span lang="en-US">collapse</span> standaard &lsquo;open&rsquo; staat.</p>

<div class="example" id="example-collapse">
    <div class="collapse" role="status">
        <div x-uno-collapse class="collapse__header">
            <i class="collapse__indicator">
                <span class="screenreader-only" data-contracted-i18n="ingeklapt" data-expanded-i18n="uitgeklapt"></span>
            </i>
            <span class="collapse__title">Titel van <span lang="en-US">collapse</span></span>
        </div>
        <div class="collapse__details collapse__details--open">
            Dit is de inhoud van de <span lang="en-US">collapse</span>.
            Humani generiss sunt dominas de nobilis compater.
            Cliniass cadunt in audax cirpi! Est placidus urbs, cesaris.
        </div>
    </div>
    <div class="js-example">
        <pre><code>// Load collapse component
        System.import('/uno/components/collapse/collapse.js').then(function (module) {
            // Select all collapsible elements on the page
            var collapses = document.querySelectorAll('[x-uno-collapse]');
            // Initialize all collapses
            for (var i = 0; i &lt; collapses.length; i++) {
                new module.Collapse(collapses.item(i));
            }
        });</code></pre>
    </div>
</div>

<h3><span lang="en-US">collapse</span> met inspringing</h3>

<p>Voeg de <span lang="en-US">class</span> <code>collapse__details--indented</code> toe aan de details
zodat deze uitlijnd met de titel</p>

<div class="example" id="example-collapse-indented">
    <div class="collapse">
        <div x-uno-collapse class="collapse__header">
            <i class="collapse__indicator">
                <span class="screenreader-only" data-contracted-i18n="ingeklapt" data-expanded-i18n="uitgeklapt"></span>
            </i>
            <span class="collapse__title">Titel van <span lang="en-US">collapse</span></span>
        </div>
        <div class="collapse__details collapse--indented collapse__details--open">
            Dit is de inhoud van de <span lang="en-US">collapse</span>.
            Humani generiss sunt dominas de nobilis compater.
            Cliniass cadunt in audax cirpi! Est placidus urbs, cesaris.
        </div>
    </div>
</div>

<h3><span lang="en-US">collapse</span> zonder achtergrond</h3>

<p>Voeg de <span lang="en-US">class</span> <code>collapse--no-background</code> toe aan de <span lang="en-US">collapse</span>
om de standaard achtergrond weg te halen.</p>

<div class="example" id="example-collapse-no-background">
    <div class="collapse collapse--no-background">
        <div x-uno-collapse class="collapse__header">
            <i class="collapse__indicator">
                <span class="screenreader-only" data-contracted-i18n="ingeklapt" data-expanded-i18n="uitgeklapt"></span>
            </i>
            <span class="collapse__title">Titel van <span lang="en-US">collapse</span></span>
        </div>
        <div class="collapse__details collapse__details--open">
            Dit is de inhoud van de <span lang="en-US">collapse</span>.
            Humani generiss sunt dominas de nobilis compater.
            Cliniass cadunt in audax cirpi! Est placidus urbs, cesaris.
        </div>
    </div>
</div>

<h3>Versimpelde <span lang="en-US">collapse</span></h3>

<p>Voeg de <span lang="en-US">class</span> <code>collapse--simple</code> toe aan de <span lang="en-US">collapse</span>
om een simpelere variant van de collapse te gebruiken.</p>

<div class="example" id="example-collapse-simple">
    <div class="collapse collapse--simple">
        <div x-uno-collapse class="collapse__header">
            <i class="collapse__indicator">
                <span class="screenreader-only" data-contracted-i18n="ingeklapt" data-expanded-i18n="uitgeklapt"></span>
            </i>
            <span class="collapse__title">Titel van <span lang="en-US">collapse</span></span>
        </div>
        <div class="collapse__details collapse__details--open">
            Dit is de inhoud van de <span lang="en-US">collapse</span>.
            Humani generiss sunt dominas de nobilis compater.
            Cliniass cadunt in audax cirpi! Est placidus urbs, cesaris.
        </div>
    </div>
</div>

<h2><span lang="en-US">collapse</span> groeperen</h2>

<p>Er kan een groep van <span lang="en-US">collapse</span> gemaakt worden door het attribuut
<code>x-uno-collapse-group</code> toe te voegen. In deze groep kan er maar
&eacute;&eacute;n <span lang="en-US">collapse</span> tegelijkertijd open staan. In dit voorbeeld is de
naam van de groep &lsquo;<em>example</em>&rsquo;.</p>

<div class="example">
    <div class="collapse">
        <div class="collapse__header" x-uno-collapse-group="example" x-uno-collapse id="collapse-group-id">
            <i class="collapse__indicator">
                <span class="screenreader-only" data-contracted-i18n="ingeklapt" data-expanded-i18n="uitgeklapt"></span>
            </i>
            <span class="collapse__title">Titel van collapse</span>
        </div>
        <div class="collapse__details" id="collapse_41">
            Humani generiss sunt dominas de nobilis compater.
            Cliniass cadunt in audax cirpi! Est placidus urbs, cesaris.
        </div>


        <div class="collapse__header" x-uno-collapse-group="example" x-uno-collapse id="collapse-group-id-2">
            <i class="collapse__indicator">
                <span class="screenreader-only" data-contracted-i18n="ingeklapt" data-expanded-i18n="uitgeklapt"></span>
            </i>
            <span class="collapse__title">Titel van collapse</span>
        </div>
        <div class="collapse__details" id="collapse_42">
            Cliniass cadunt in audax cirpi! Est placidus urbs, cesaris.
            Humani generiss sunt dominas de nobilis compater.
        </div>
    </div>
</div>

<p>Als alternatief kan een <code>x-uno-collapse-group</code> op een omliggend element
geplaatst worden.</p>

<div class="example">
    <div class="collapse" x-uno-collapse-group>
        <div class="collapse__header" x-uno-collapse id="collapse-wrapping-group">
            <i class="collapse__indicator"></i>
            <span class="collapse__title">Titel van collapse</span>
        </div>
        <div class="collapse__details">
            Humani generiss sunt dominas de nobilis compater.
            Cliniass cadunt in audax cirpi! Est placidus urbs, cesaris.
        </div>


        <div class="collapse__header" x-uno-collapse>
            <i class="collapse__indicator"></i>
            <span class="collapse__title">Titel van collapse</span>
        </div>
        <div class="collapse__details">
            Cliniass cadunt in audax cirpi! Est placidus urbs, cesaris.
            Humani generiss sunt dominas de nobilis compater.
        </div>
    </div>
</div>

<h2 lang="en-US">Collapse target</h2>
<p>Het kan voorkomen dat de <code>.collapse__header</code> en de
<code>.collapse__details</code> niet direct na elkaar in de dom (kunnen)
staan. Voeg in dat geval het attribuut <code>x-uno-collapse-target="{id van details element}"</code>
toe aan de <span lang="en-US">header</span> om deze aan de details te koppelen.</p>


<div class="example">
    <div class="collapse">
        <div class="collapse__header" x-uno-collapse x-uno-collapse-target="example-details">
            <i class="collapse__indicator">
                <span class="screenreader-only" data-contracted-i18n="ingeklapt" data-expanded-i18n="uitgeklapt"></span>
            </i>
            <span class="collapse__title">Titel van <span lang="en-US">collapse</span></span>
        </div>
        <div class="collapse__details" id="example-details">
            Humani generiss sunt dominas de nobilis compater.
            Cliniass cadunt in audax cirpi! Est placidus urbs, cesaris.
        </div>
    </div>
</div>

<h2><span lang="en-US">Collapse</span> met icoon</h2>

<p>Voorbeeld van een <span lang="en-US">collapse</span> met iconen. Het voorbeeld staat zo ingesteld dat
de <span lang="en-US">collapse</span> standaard &lsquo;gesloten&rsquo; is.</p>

<div class="example" id="example-collapse">
    <div class="collapse collapse--icons" x-uno-collapse-group="" role="status">
        
        <div x-uno-collapse class="collapse__header">
                <i class="collapse__indicator">
                        <span class="screenreader-only" data-contracted-i18n="ingeklapt" data-expanded-i18n="uitgeklapt"></span>
                    </i>
            <span class="collapse__title">Titel van <span lang="en-US">collapse</span></span>
        </div>
        <div class="collapse__details collapse__details">
            Dit is de inhoud van de <span lang="en-US">collapse</span>.
            Humani generiss sunt dominas de nobilis compater.
            Cliniass cadunt in audax cirpi! Est placidus urbs, cesaris.
        </div>
        <div x-uno-collapse class="collapse__header">
                <i class="collapse__indicator">
                        <span class="screenreader-only" data-contracted-i18n="ingeklapt" data-expanded-i18n="uitgeklapt"></span>
                    </i>
          
            <span class="collapse__title">Titel van <span lang="en-US">collapse</span></span>
        </div>
        <div class="collapse__details collapse__details">
            Dit is de inhoud van de <span lang="en-US">collapse</span>.
            Humani generiss sunt dominas de nobilis compater.
            Cliniass cadunt in audax cirpi! Est placidus urbs, cesaris.
        </div>
        <div x-uno-collapse class="collapse__header">
                <i class="collapse__indicator">
                        <span class="screenreader-only" data-contracted-i18n="ingeklapt" data-expanded-i18n="uitgeklapt"></span>
                    </i>
          
            <span class="collapse__title">Titel van <span lang="en-US">collapse</span></span>
        </div>
        <div class="collapse__details collapse__details">
            Dit is de inhoud van de <span lang="en-US">collapse</span>.
            Humani generiss sunt dominas de nobilis compater.
            Cliniass cadunt in audax cirpi! Est placidus urbs, cesaris.
        </div>
    </div>
</div>

<h2><span lang="en-US">collapsable</span> tabel</h2>
<p>Binnen een tabel kunnen ook <span lang="en-US">collapses</span> zitten. Gebruik als <span lang="en-US">target</span> de <code>tr</code>.
On Internet Explorer wordt geen animatie getoond.</p>

<div class="example">
    <table class="table table--striped">
        <thead>
            <tr>
                <th>Opleidingsstelsel</th>
                <th>Opleidingscode</th>
                <th>Type</th>
            </tr>
        </thead>
        <tr>
            <td x-uno-collapse x-uno-collapse-target="table_collapse" class="collapse__header">
                <i class="collapse__indicator">
                    <span class="screenreader-only" data-contracted-i18n="ingeklapt" data-expanded-i18n="uitgeklapt"></span>
                </i>
                Centraal register</td>
            <td>&ndash;</td>
            <td>MBO-Onderwijslicentie</td>
        </tr>
        <tr id="table_collapse" class="collapse__details background--mintgroen-tint-2">
            <td colspan="3">
                <p >Proin quis massa
                    a quam consequat cursus fringilla vel purus. Nunc at felis
                    feugiat, aliquet massa eu, porta mauris. Sed ac turpis at
                    dolor consequat venenatis. Aenean sed blandit leo.
                    Suspendisse dignissim arcu tortor, in faucibus arcu
                    fringilla vitae. Maecenas at velit quis elit tincidunt
                    pellentesque in id erat. Vestibulum ante ipsum primis in
                    faucibus orci luctus et ultrices posuere cubilia Curae;
                    Vestibulum bibendum ut erat non vehicula. Quisque at lacus
                    nec sem pulvinar interdum.</p></td>
        </tr>
        <tr>
            <td x-uno-collapse x-uno-collapse-target="table_collapse_2" class="collapse__header">
                <i class="collapse__indicator">
                    <span class="screenreader-only" data-contracted-i18n="ingeklapt" data-expanded-i18n="uitgeklapt"></span>
                </i>
                Beroepsonderwijs</td>
            <td>&ndash;</td>
            <td>Examenlicentie</td>
        </tr>
        <tr id="table_collapse_2" class="collapse__details background--mintgroen-tint-2">
            <td colspan="3">
                <p >Proin quis massa
                    a quam consequat cursus fringilla vel purus. Nunc at felis
                    feugiat, aliquet massa eu, porta mauris. Sed ac turpis at
                    dolor consequat venenatis. Aenean sed blandit leo.
                    Suspendisse dignissim arcu tortor, in faucibus arcu
                    fringilla vitae. Maecenas at velit quis elit tincidunt
                    pellentesque in id erat. Vestibulum ante ipsum primis in
                    faucibus orci luctus et ultrices posuere cubilia Curae;
                    Vestibulum bibendum ut erat non vehicula. Quisque at lacus
                    nec sem pulvinar interdum.</p></td>
        </tr>
    </table>
</div>

<h2>Javascript</h2>

<p>De <span lang="en-US">collapse</span> maakt gebruik van javascript voor het openen en sluiten van de
    details. Daarvoor is het nodig de <code lang="en-US">collapse</code> <span lang="en-US">class</span> in te laden.</p>

    <pre><code>// Load collapse component
System.import('/uno/components/collapse/collapse.js').then(function (module) {
    // Select all collapsible elements on the page
    var collapses = document.querySelectorAll('[x-uno-collapse]');
    // Initialize all collapses
    for (var i = 0; i &lt; collapses.length; i++) {
        new module.Collapse(collapses.item(i));
    }
});</code></pre>
<p>In de voorbeelden wordt het attribuut <code>x-uno-collapse</code> gebruikt om de
    collapses te initialiseren, dit is optioneel, elke <em>querySelector</em> kan
    gebruikt worden voor initialisatie.</p>

<pre><code>/* Voorbeeld met alternatieve querySelector */
var collapse = new module.Collapse(document.getElementById('my-collapse'));</code></pre>

<script>
    /* Load collapse component */
    System.import('../../uno/components/collapse/collapse.js').then(function (module) {

        /* Select all collapsible elements on the page */
        var elements = document.querySelectorAll('.example [x-uno-collapse]');

        /* Initialize all collapses */
        for (var i = 0; i < elements.length; i++) {
            new module.Collapse(elements.item(i));
        }
    });

</script>

<h3>Publieke methodes</h3>

<table class="table table--striped">
    <thead>
    <tr>
        <th>Methode</th>
        <th>Omschrijving</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td><code>open()</code></td>
        <td>Opent de <span lang="en-US">collapse</span></td>
    </tr>
    <tr>
        <td><code>close()</code></td>
        <td>Sluit de <span lang="en-US">collapse</span></td>
    </tr>
    <tr>
        <td><code>toggle()</code></td>
        <td>Opent of sluit de <span lang="en-US">collapse</span></td>
    </tr>
    <tr>
        <td><code>destroy()</code></td>
        <td>Verwijdert de <span lang="en-US">collapse</span>, verwijdert alle <span lang="en-US">event-listeners</span>.<br/><em>Roep deze methode aan wanneer je de <span lang="en-US">collapse</span> wilt verwijderen!</em></td>
    </tr>
    </tbody>

</table>

<h3>Events</h3>

<table class="table table--striped">
    <thead>
    <tr>
        <th>Event naam</th>
        <th>Omschrijving</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td><code>collapse-close</code> <span class="label label--mintgroen">Cancelable</span> </td>
        <td>Wordt afgevuurd wanneer de <span lang="en-US">collapse</span> gesloten wordt. Het <span lang="en-US">event</span> bevat de <span lang="en-US">property</span> <code>detail</code>,
        deze bevat een <span lang="en-US">reference</span> naar het <code>collapse__detail</code> element</td>
    </tr>
    <tr>
        <td><code>collapse-open</code> <span class="label label--mintgroen">Cancelable</span> </td>
        <td>Wordt afgevuurd wanneer de <span lang="en-US">collapse</span> geopend wordt. Het <span lang="en-US">event</span> bevat de <span lang="en-US">property</span> <code>detail</code>,
            deze bevat een <span lang="en-US">reference</span> naar het <code>collapse__detail</code> element</td>
    </tr>
    </tbody>
</table>
