---
layout: sidenav-page
title: Filter
parent: Components
permalink: componenten/filter/
styles: [
  'uno/components/form/filter.css',
  'uno/components/form/checkbox.css',
  'uno/components/form/radio.css'
]
---

<h2>Filter</h2>
<p>Filter is een specifiek component die gebruik maakt van compactere <span lang="en-US">radio buttons</span> &amp; checkboxes.</p>
<div class="example" id="example-radio--compact">
    <div class="form filter">
        <fieldset class="input filter">
            <legend class="filter__title">Kanaal</legend>
            <div class="input__group input__group--radio input__group--compact">
                <input type="radio" name="optradio1" id="opt-compact-1" class="input__control input__control--radio">
                <label class="input__label input__label--radio" for="opt-compact-1">Particulier portaal</label>
            </div>
            <div class="input__group input__group--radio input__group--compact">
                <input type="radio" name="optradio1" id="opt-compact-2" class="input__control input__control--radio" checked>
                <label class="input__label input__label--radio" for="opt-compact-2">Zakelijk portaal</label>
            </div>
            <div class="input__group input__group--radio input__group--compact">
                <input type="radio" name="optradio1" id="opt-compact-3" class="input__control input__control--radio" disabled>
                <label class="input__label input__label--radio" for="opt-compact-3">Medewerkersportaal</label>
            </div>
        </fieldset>

        <fieldset class="input filter">
          <legend class="filter__title">Hobbies:</legend>
          <div class="input__group input__group--compact input__group--checkbox">
            <input name="hobbies_compact[]" type="checkbox" id="chkbx-compact-1" class="input__control input__control--checkbox">
            <label class="input__label input__label--checkbox" for="chkbx-compact-1">Kitesurfen</label>
          </div>
          <div class="input__group input__group--compact input__group--checkbox">
            <input name="hobbies_compact[]" type="checkbox" id="chkbx-compact-2" class="input__control input__control--checkbox" checked>
            <label class="input__label input__label--checkbox" for="chkbx-compact-2">Postzegels verzamelen</label>
          </div>
          <div class="input__group input__group--compact input__group--checkbox">
            <input name="hobbies_compact[]" type="checkbox" id="chkbx-compact-3" class="input__control input__control--checkbox" disabled>
            <label class="input__label input__label--checkbox" for="chkbx-compact-3">Paardrijden</label>
          </div>
          <div class="input__group input__group--compact input__group--checkbox">
            <input name="hobbies_compact[]" type="checkbox" id="chkbx-compact-4" class="input__control input__control--checkbox" disabled checked>
            <label class="input__label input__label--checkbox" for="chkbx-compact-4">JavaScript</label>
          </div>
        </fieldset>
    </div>
</div>

<!--Todo Mobiel patroon-->
