---
layout: sidenav-page
title: Footer
parent: Components
permalink: componenten/footer/
styles: [
    'uno/components/lists/lists.css',
    'uno/components/footer/footer.css'
]
---
<p>Geef de content van de <span lang="en-US">footer</span> een background met de <code>.background--</code> <span lang="en-US">modifier</span>.</p>
<p>Het <span lang="en-US">font</span> van de <span lang="en-US">footer</span>payoff bevat om <span lang="en-US">performance</span> redenen alleen de letters van
    de <span lang="en-US">payoff</span>, hier kan en mag dus alleen de officiële <span lang="en-US">payoff</span> staan!<br/>
Nederlandse <span lang="en-US">payoff</span>: <em>Samen maken we onderwijs en ontwikkeling mogelijk</em><br/>
Engelse <span lang="en-US">payoff</span>: <em lang="en-US">Together we make education and development possible</em>.</p>
<div class="example">
    <footer class="footer">
        <div class="footer__content background--donkerblauw">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-md-10 col-md-offset-1">
                        <span class="footer__header footer__header--title">Samen maken we onderwijs en ontwikkeling mogelijk</span>
                    </div>

                    <div class="col-xs-12 col-md-3 col-md-offset-1">
                            <span class="footer__header" lang="en-US">Language</span>
                            <ul class="list list--links footer__nav">
                                <li><a href="#" lang="en-US">English site</a></li>
                                <li><a href="#" lang="de">Deutsche Seite</a></li>
                            </ul>
                    </div>

                    <div class="col-xs-12 col-md-3">
                            <span class="footer__header">Service</span>
                            <ul class="list list--links footer__nav">
                                <li><a href="#">Contact</a></li>
                                <li><a href="#">Privacy</a></li>
                                <li><a href="#">Proclaimer</a></li>
                                <li><a href="#">Toegankelijkheid</a></li>
                                <li><a href="#">Inloggen <span class="icon icon-secure"></span></a>
                                </li>
                            </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>

<h3>Engelse footer</h3>

<div class="example">
    <footer class="footer">
        <div class="footer__content background--donkerblauw">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-md-10 col-md-offset-1">
                        <span class="footer__header footer__header--title" lang="en-US">Together we make education and development possible</span>
                    </div>

                    <div class="col-xs-12 col-md-3 col-md-offset-1">
                        <span class="footer__header" lang="en-US">Language</span>
                        <ul class="list list--links footer__nav">
                            <li><a href="#" lang="en-US">English site</a></li>
                            <li><a href="#" lang="de">Deutsche Seite</a></li>
                        </ul>
                    </div>

                    <div class="col-xs-12 col-md-3">
                        <span class="footer__header">Service</span>
                        <ul class="list list--links footer__nav">
                            <li><a href="#">Contact</a></li>
                            <li><a href="#">Privacy</a></li>
                            <li><a href="#">Proclaimer</a></li>
                            <li><a href="#">Toegankelijkheid</a></li>
                            <li><a href="#">Inloggen <span class="icon icon-secure"></span></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>
