---
layout: sidenav-page
title: Tabs
parent: Components
permalink: componenten/tabs/
styles: [
    'uno/components/tabs/tabs.css',
]
additionalStyles: [
    'uno/components/table/table.css',
    'uno/components/label/label.css',
    'uno/components/label/badge.css'
]
---

<h2>Tabs als content sectie</h2>
<p>Tabs kunnen als content sectie of <span lang="en-US">inline</span> worden geplaatst.
Hieronder een voorbeeld als content sectie </p>

<h3>Badges</h3>
<p>Een tab mag een <span lang="en-US">badge</span> of label bevatten. Zorg ervoor dat er geen witruimte tussen de titel van de
tab en de <span lang="en-US">badge</span> zit. Dit voorkomt dat de onderlijning van de titel te ver doorloopt.</p>

<div class="example" id="example-tabs">
    <ul class="tab" role="tablist">
        <li id="tab1" role="tab" aria-controls="panel1" class="tab__tab"><a href="#panel1">Tab 1 met een lange titel</a></li>
        <li id="tab2" role="tab" aria-controls="panel2" class="tab__tab"><a href="#panel2">Tab 2<span class="badge badge--geel">2</span></a></li>
        <li id="tab3" role="tab" aria-controls="panel3" class="tab__tab"><a href="#panel3">Tab 3</a></li>
        <li id="tab4" role="tab" aria-controls="panel4" class="tab__tab tab__tab--disabled"><a href="#panel4">Disabled</a></li>
        <li id="tab5" role="tab" aria-controls="panel5" class="tab__tab"><a href="#panel5">Tab 5</a></li>
        <li id="tab6" role="tab" aria-controls="panel5" class="tab__tab"><a href="#panel6">Another tab (6)</a></li>
        <li id="tab7" role="tab" aria-controls="panel5" class="tab__tab"><a href="#panel7">Another tab (7)</a></li>
        <li id="tab8" role="tab" aria-controls="panel5" class="tab__tab"><a href="#panel8">Another tab (8)</a></li>
        <li id="tab9" role="tab" aria-controls="panel5" class="tab__tab"><a href="#panel9">Another tab (9)</a></li>
        <li id="tab10" role="tab" aria-controls="panel5" class="tab__tab"><a href="#panel10">Another tab (10)</a></li>
    </ul>

    <div class="content-background tab__content">
        <section class="content tab__pane" id="panel1" aria-labelledby="tab1" role="tabpanel">
            <h3>Panel 1</h3>
            <p>Panel 1</p>
        </section>

        <section class="content tab__pane" id="panel2" role="tabpanel" aria-labelledby="tab2">
            <p>Panel 2</p>
        </section>

        <section class="content tab__pane" id="panel3" role="tabpanel" aria-labelledby="tab3">
            <p>Panel 3</p>
        </section>
        <section class="content tab__pane" id="panel4" role="tabpanel" aria-labelledby="tab4">
            <p>This tab is disabled :'(</p>
        </section>

        <section class="content tab__pane" id="panel5" role="tabpanel" aria-labelledby="tab5">
            <p>Panel 5</p>
        </section>

        <section class="content tab__pane" id="panel6" role="tabpanel" aria-labelledby="tab6">
            <p>Panel 6</p>
        </section>

        <section class="content tab__pane" id="panel7" role="tabpanel" aria-labelledby="tab7">
            <p>Panel 7</p>
        </section>

        <section class="content tab__pane" id="panel8" role="tabpanel" aria-labelledby="tab8">
            <p>Panel 8</p>
        </section>

        <section class="content tab__pane" id="panel9" role="tabpanel" aria-labelledby="tab9">
            <p>Panel 9</p>
        </section>

        <section class="content tab__pane" id="panel10" role="tabpanel" aria-labelledby="tab10">
            <p>Panel 10</p>
        </section>
    </div>
</div>

<h2><span lang="en-US">Inline</span> tabs</h2>

<p><span lang="en-US">Inline</span> tabs kunnen tussen de lopende tekst worden geplaatst. Voeg
hiervoor de <span lang="en-US">modifiers</span> <code>.tab--inline</code> en
<code>.tab__content--inline</code> toe aan de code.</p>

<div id="example-tabs--inline" class="example">
    <ul class="tab tab--inline" role="tablist">
        <li class="tab__tab tab__tab--active" role="tab" aria-controls="panel2-1" id="tab2-1" ><a href="#panel2-1">Tab 1</a></li>
        <li class="tab__tab" role="tab" aria-controls="panel2-2" id="tab2-2" ><a href="#panel2-2">Tab 2</a></li>
        <li class="tab__tab" role="tab" aria-controls="panel2-3" id="tab2-3" ><a href="#panel2-3">Tab 3</a></li>
        <li class="tab__tab" role="tab" aria-controls="panel2-4" id="tab2-4" ><a href="#panel2-4">Tab 4 met een hele lange titel</a></li>
    </ul>

    <div class="tab__content tab__content--inline">

        <section class="tab__pane tab__pane--active" id="panel2-1" role="tabpanel" aria-labelledby="tab2-1">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Praesent eget ipsum turpis. Vestibulum sit amet congue erat.
                Mauris at enim maximus, bibendum eros non, porttitor ante.
                Nunc a ante at nunc molestie pretium ut iaculis erat. Maecenas
                non justo ligula. Sed placerat porta sem, id euismod purus.
                Ut ac elementum nunc. Donec vitae velit rutrum magna fermentum
                varius. Praesent vitae elit lorem. Nunc condimentum maximus
                consectetur. Aliquam fringilla leo ut malesuada consectetur.
                Praesent tristique congue auctor. Donec at sem eu quam
                ultricies feugiat. Ut libero nisi, venenatis vitae tortor
                vitae, sollicitudin pretium diam. Maecenas porttitor
                consectetur elit sed viverra.</p>
        </section>

        <section class="tab__pane" id="panel2-2" role="tabpanel" aria-labelledby="tab2-2">
            <p>Donec vitae velit rutrum magna fermentum
                varius. Praesent vitae elit lorem. Nunc condimentum maximus
                consectetur. Aliquam fringilla leo ut malesuada consectetur.
                Praesent tristique congue auctor. Donec at sem eu quam
                ultricies feugiat. Ut libero nisi, venenatis vitae tortor
                vitae, sollicitudin pretium diam. Maecenas porttitor
                consectetur elit sed viverra.</p>
        </section>

        <section class="tab__pane" id="panel2-3" role="tabpanel" aria-labelledby="tab2-3">
            <p>Ut libero nisi, venenatis vitae tortor
                vitae, sollicitudin pretium diam. Donec vitae velit rutrum
                magna fermentum varius. Praesent vitae elit lorem. Nunc
                condimentum maximus consectetur. Ut libero nisi, venenatis
                vitae tortor vitae, sollicitudin pretium diam. Aliquam
                fringilla leo ut malesuada consectetur. Praesent tristique
                congue auctor. Donec at sem eu quam ultricies feugiat. Ut
                libero nisi, venenatis vitae tortor vitae, sollicitudin
                pretium diam. Maecenas porttitor consectetur elit sed viverra.</p>
        </section>

        <section class="tab__pane" id="panel2-4" role="tabpanel" aria-labelledby="tab2-4">
            <p>Donec vitae velit rutrum magna fermentum
                varius. Praesent vitae elit lorem. Nunc condimentum maximus
                consectetur. Aliquam fringilla leo ut malesuada consectetur.
                Praesent tristique congue auctor. Donec at sem eu quam
                ultricies feugiat. Ut libero nisi, venenatis vitae tortor
                vitae, sollicitudin pretium diam. Maecenas porttitor
                consectetur elit sed viverra.</p>
        </section>
    </div>
</div>

<h2>Javascript</h2>

<p>Voor de werking van tabs is javascript nodig</p>

<pre><code>/* Load tab component */
    System.import('/uno/components/tabs/tabs.js').then(function (module) {
    /* Select all .tab elements on the page */
    var tabs = document.querySelectorAll('.tab');
    /* Initialize all tabs */
    for (var i = 0; i &lt; tabs.length; i++) {
    new module.Tabs(tabs.item(i));
    }
});</code></pre>

<h3>Bediening met javascript</h3>

<p>Via javascript kan o.a. de actieve tab gewijzigd worden, via de methode
<code>openTab(<em>n</em>)</code>, waarbij <em>n</em> de index van de
te activeren tab is.</p>

<pre><code>/* Load tab component */
    System.import('/uno/components/tabs/tabs.js').then(function (module) {
    /* Create tab component */
    var tab = new module.Tabs(document.querySelector('.tab'));
});</code></pre>

<h2>Javascript API</h2>
<h3>Publieke methodes</h3>

<table class="table table--striped">
    <thead>
    <tr>
        <th>Methode</th>
        <th>Omschrijving</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td><code>openTab(idx:number):void</code></td>
        <td>Opent de tab met index <code>idx</code></td>
    </tr>
    <tr>
        <td><code>disableTab(idx:number):void</code></td>
        <td>Deactiveer de tab met index <code>idx</code></td>
    </tr>
    <tr>
        <td><code>enableTab(idx:number):void</code></td>
        <td>Activeer de tab met index <code>idx</code></td>
    </tr>
    <tr>
        <td><code>destroy():void</code></td>
        <td>Verwijdert de tabs, verwijdert alle event-listeners.<br/><em>Roep deze methode aan wanneer je de tabs wilt verwijderen!</em></td>
    </tr>
    </tbody>

</table>

<h3>Publieke eigenschappen</h3>

<table class="table table--striped">
    <thead>
    <tr>
        <th>Eigenschap</th>
        <th>Type</th>
        <th>Omschrijving</th>
    </tr>
    </thead>
    <tbody>
        <tr>
            <td><code>activeTabIndex</code> <span class="label label--zwart">read-only</span> </td>
            <td>number</td>
            <td>De index van de actieve tab</td>
        </tr>

    </tbody>
</table>

<script>

  var tabExample;
  // Load tab component
  System.import('../../uno/components/tabs/tabs.js').then(function (module) {
    // Select all .tab elements on the page
    var tabs = document.querySelectorAll('.tab:not(.tab--example)');

    // Initialize all tabs
    for (var i = 0; i < tabs.length; i++) {
      new module.Tabs(tabs.item(i));
    }
  });

  function enableTab(item) {
    tabExample.enableTab(item - 1);
  }

  function disableTab(item) {
    tabExample.disableTab(item - 1);
  }

  function openTab(item) {
    tabExample.openTab(item - 1);
  }
</script>
