<%- partial('_partial/head') %>
<body>
<div class="wrapper">
    <%- partial('_partial/header', {transparent: false}, {cache: !config.relative_link}) %>
    <%- partial('_partial/navigation', null, {cache: !config.relative_link}) %>

    <main class="skiplink-target main" id="content" tabindex="-1">

        <%- partial('_partial/site-notification') %>
        <div class="container">
            <%- partial('_partial/intro') %>
            <%- partial('_partial/page') %>

                
            </article>


        </div>
    </main>

    <%- partial('_partial/debug') %>
    <%- partial('_partial/footer') %>
</div>
</body>
</html>