<%- partial('_partial/head') %>

<body>
<div class="wrapper">
<%- partial('_partial/header', {transparent: true}, {cache: !config.relative_link}) %>
<%- partial('_partial/site-notification') %>
<main class="skiplink-target main" id="content" tabindex="-1">
    <div class="container">
        <section class="row">
            <div class="col-xs-12 col-sm-11 col-md-10 col-lg-9 col-xl-8">
                <div class="content">
                    <header class="content__header">
                        <h1 class="content__header-title"><%= page.title %></h1>
        
                        <% if(page.intro) {%>
                            <p class="content__header-paragraph"><%- (page.intro) %></p>
                        <% } %>
                    </header>
                </div>
            </div>
        </section>

        <article>
            <div class="row">
                <div class="col-sm-12">
                    <%- partial('_partial/page') %>
                </div>
            </div>
        </article>
    </div>
</main>

<%- partial('_partial/debug') %>
<%- partial('_partial/footer', null, {cache: !config.relative_link}) %>
</div>
</body>
</html>