<%- partial('_partial/head') %>

<body class="theme--large-padding">
  <%- partial('_partial/header', {transparent: false}, {cache: !config.relative_link}) %>
  <%- partial('_partial/navigation', null, {cache: !config.relative_link}) %>

  <% if(page.content) { %>
    <%- partial('_partial/page') %>
  <% }%>

  <%- js('js/highlight.pack') %>
  <%- js('js/examples') %>
</body>
</html>