// WRAPPER
$theme-background: #ebebeb;

// TYPOGRAFIE
$base-font-size: 18px;

$h1-font-size: 31px;
$h1-font-weight: 700;

$h2-font-size: 28px;
$h2-font-weight: 400;

// OUTLINE
$outline-color: #ffb612;
