---
layout: landing-page
title: Basis
permalink: core/
skipBacklink: true
intro: De basis van uno bestaat uit een minimale set van componenten en <span lang="en-US">basic
    styling</span>. Iedereen die de <span lang="en-US">library</span> gebruikt moet minimaal de <span lang="en-US">core</span> inladen.
styles: []
---