---
title: full-text
fulltitle: Verzuimloket gebruiken
permalink: templates/full-text/
intro: U wilt de juiste gegevens over verzuim doorgeven aan DUO. Dat kan via het verzuimloket of via een machinekoppeling.
styles: [
    'uno/components/todolist/todolist.css'
]
---
<div class="row">
    <div class="col-xl-8 col-xl-offset-2 col-lg-10 col-lg-offset-1">
        <div class="content-background">

            <div class="content">
                <h2 id="inloggen-verzuimloket">Inloggen verzuimloket</h2>
                <p>U vindt het verzuimloket via de beveiligde site. Om in te
                    loggen heeft u een inlognaam, wachtwoord en tokengenerator
                    nodig. Daarnaast moet de beheerder van de beveiligde site u
                    de rol ‘verzuimloket melder’ toekennen. Wilt u
                    contactpersonen en locaties kunnen wijzigen, dan heeft u ook
                    de rol ‘verzuimloket beheerder onderwijs’ nodig.
                    </p><p>
                    U kunt ook een rechtstreekse verbinding tussen uw
                    softwarepakket en DUO leggen om verzuimgegevens uit te
                    wisselen. Meer hierover leest u in de alinea Verzuimloket
                    koppelen aan uw LAS.</p>

                <h2 id="locaties-beheren">Locaties beheren</h2>
                <p>Als u als beheerder voor de eerste keer inlogt, moet u eerst
                    de verschillende locaties van uw onderwijsinstelling
                    vastleggen.</p>

                <section>
                    <span class="is-h4">Wat moet u doen?</span>
                    <ol class="list list--decimal-circled">
                        <li>Log in op de <a title="beveiligde site" href="https://zakelijk.duo.nl/zp">beveiligde
                            site</a> van DUO.
                        </li>
                        <li>Kies ‘Beheer locaties’ en vul het BRIN-nummer van uw
                            school in.
                        </li>
                        <li>Voeg een locatie toe. Laat hiervoor het zoekveld
                            leeg en kies ‘zoeken’. Kies ‘Toevoegen’ om een
                            locatie toe te voegen. Als u eerder locaties heeft
                            toegevoegd, ziet u de lijst met alle locaties.
                        </li>
                        <li>Via ‘Beheer locaties’ kunt u ook locaties inzien,
                            wijzigen en verwijderen.
                        </li>
                    </ol>

                </section>
                <h2 id="contactpersonen-beheren">Contactpersonen beheren</h2>
                <p>U kunt in het verzuimloket meerdere contactpersonen
                    toevoegen. Alleen contactpersonen kunnen verzuimmeldingen
                    doen.</p>

                <section>
                    <span class="is-h4" role="heading">Wat moet u doen?</span>
                    <ol class="list list--decimal-circled">
                        <li>Log in op de <a title="beveiligde site"
                                            href="https://zakelijk.duo.nl/zp">beveiligde
                            site</a> van DUO.
                            <br></li>
                        <li>Kies ‘Beheer contactpersonen’ en vul het BRIN-nummer
                            van uw school in.&nbsp;</li>
                        <li>Voeg een contactpersoon toe. Laat hiervoor het
                            zoekveld leeg en kies ‘zoeken’. Kies ‘Toevoegen’ om
                            een contactpersoon toe te voegen. Als u eerder
                            contactpersonen heeft toegevoegd, ziet u de lijst
                            met alle contactpersonen.
                        </li>
                        <li>Via ‘Beheer locaties’ kunt u ook locaties inzien,
                            wijzigen en verwijderen.
                        </li>
                    </ol>
                    <p>Lees meer in de <a
                            href="/zakelijk/images/handleiding-verzuimloket.pdf"
                            alt="Handleiding verzuimloket" target="new"
                            class="">handleiding verzuimloket</a> (pdf 480kb).
                    </p>

                </section>
                <h2 id="verzuimloket-koppelen-aan-uw-las">Verzuimloket koppelen
                    aan uw LAS</h2>
                <p></p>
                <p>U kunt ook rechtstreeks
                    verbinding maken tussen uw LAS en DUO om verzuimgegevens uit
                    te wisselen. Hiervoor moet u een beveiligingscertificaat
                    kopen van één van de volgende partijen:</p>
                <ul>
                    <li><a title="Digidentity" rel="external"
                           href="https://sslstore.digidentity.eu">Digidentity</a></li>
                    <li><a title="KPN-Getronic" rel="external"
                           href="http://certificaat.kpn.com">KPN-Getronic</a></li>
                    <li><a title="Quovadis" rel="external"
                           href="https://www.quovadisglobal.nl/DigitaleCertificaten/PKIOverheidCertificaten.aspx">Quovadis
                        Trust/Link</a></li>
                    <li><a title="ESG" rel="external"
                           href="https://www.de-electronische-signatuur.nl/nl">ESG</a></li>
                </ul>
                <p>Nadat u het
                    beveiligingscertificaat heeft geïnstalleerd, moet u het
                    onderwerp en de uitgever van het certificaat mailen naar <a
                            title="verzuim" href="mailto:verzuim@duo.nl">verzuim@duo.nl</a>.
                    Vermeld hierbij ook uw contactgegevens. De leverancier van
                    het certificaat kan u helpen bij het installeren van het
                    certificaat en het opzoeken van deze gegevens.</p>
                <ul>
                    <li>
                        <a href="/zakelijk/images/sjabloon-doorgeven-certificaatgegevens.xls"
                           alt="Sjabloon doorgeven certificaatgegevens"
                           target="_blank" class="">Sjabloon doorgeven
                            certificaatgegevens</a> (xls 28kb)
                    </li>
                </ul>
                <p>Als uw
                    beveiligingscertificaat verlopen is, moet u de nieuwe
                    certificaatgegevens opnieuw in het sjabloon invullen en
                    opsturen. Het maakt dan niet uit of u uw huidige certificaat
                    heeft verlengd of bent overgestapt naar een nieuwe
                    aanbieder.
                </p>
            </div>
        </div>
    </div>
</div>